<table>
  <thead>
    <th colspan="2" style="text-align: center">Edit Client Information</th>
  </thead>

  <tbody>
  <tr>
    <td style="text-align: right; width: 50%">Client ID</td>
    <td style="width:50%"> {{client.id}} </td>
  </tr>

  <tr>
    <td style="text-align: right; width: 50%">First Name</td>
    <td style="width:50%"><input type="text" ng-model="client.firstName" /> </td>
  </tr>

  <tr>
    <td style="text-align: right; width: 50%">Last name</td>
    <td style="width:50%"><input type="text" ng-model="client.lastName" /> </td>
  </tr>

  <tr>
    <td style="text-align: right; width: 50%">Email</td>
    <td style="width:50%"><input type="text" ng-model="client.email" /> </td>
  </tr>

  <tr>
    <td style="text-align: right; width: 50%">Birth date</td>
    <td style="width:50%"><input type="text" ng-model="client.birthDate" /> </td>
  </tr>

  <tr>
    <td style="text-align: right; width: 50%">City</td>
    <td style="width:50%"><input type="text" ng-model="client.city" /> </td>
  </tr>

  <tr>
    <td style="text-align: right; width: 50%">Gender</td>
    <td style="width: 50%"><input type="text" ng-model="client.gender"/> </td>
  </tr>

  <tr>
    <td></td>
    <td>
      <div align="center" data-ng-repeat="Group in Groups">
        <div align="left">
          <label class="checkbox" for="{{group.id}}">
            <input id="groupCheckBox" type="checkbox" ng-model="selectedGroups.ids[Group.id]" id="{{group.id}}"/>
            {{Group.title}}
          </label>
        </div>
      </div>
    </td>
  </tr>

  <tr>
    <td></td>
    <td>
      <input type="button" value="Save" ng-click="save()"/>
      <br/>
      <div>{{error}}</div>
    </td>
  </tr>

  </tbody>
</table>  
