<table><thead><th><a href="#/addClient">Add client</a></th></thead></table>
<table>
  <thead>
    <tr>
      <th>Client ID</th>
      <th>First Name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Birth date</th>
      <th>City</th>
      <th>Gender</th>
      <th>Groups</th>
      <th></th>
      <th></th>
    </tr>
  </thead>  
  <tbody>
    <tr class="repeater" data-ng-repeat="Client in Clients">
      <td>{{Client.id}}</td>
      <td>{{Client.firstName}}</td>
      <td>{{Client.lastName}}</td>
      <td>{{Client.email}}</td>
      <td>{{Client.birthDate | date:'yyyy-MM-dd'}}</td>
      <td>{{Client.city}}</td>
      <td>{{Client.gender}}</td>
      <td>
        <table>
          <tr data-ng-repeat="Group in Client.group">
            <td class="repeater-cell">{{Group.title}}</td>
          </tr>
        </table>
      </td>
      <td><a ng-click="editClient(Client.id)">Edit</a></td>
      <td><a ng-click="deleteClient(Client.id)">Delete</a></td>
    </tr>
  </tbody>
</table>
